<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
			#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.moduleTitle']}
		</ui:define>
		<ui:define name="bodyContent">
			<h:form id="almighty">
				<p:growl id="growl" showDetail="true" showSummary="true"
					sticky="true" globalOnly="true" />
				<p:panel id="agregarCausaPanel" style="align:center"
					header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.panelTitle']}">
					<!-- Causa -->
					<div align="center">
						<p:panelGrid id="causaGrid" columns="3">
							<h:outputLabel for="numeroCausaInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.labels.causeNumber']}" />
							<h:panelGroup>
								<p:inputText id="numeroCausaInput"
									value="#{addCausaBean.numeroCausa}">
								</p:inputText>
							</h:panelGroup>
							<p:commandButton id="generarNumeroCommand"
								action="#{addCausaBean.generarNumeroCausa}" ajax="true"
								update=":almighty:numeroCausaInput, causaGrid"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.labels.generateNumber']}" />
							<h:outputLabel for="annioCausaInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.labels.annio']}" />
							<p:inputText id="annioCausaInput"
								value="#{addCausaBean.annioCausa}">
							</p:inputText>
							<p:message for="annioCausaInput" showDetail="true" />
						</p:panelGrid>
					</div>
					<p:tabView>
						<p:tab
							title="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fieldset.delitos.legend']}">
							<!-- Delitos -->
							<p:panel id="delitosPanel" toggleable="true" collapsed="false"
								header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fieldset.delitos.legend']}">
								<div align="center">
									<p:panelGrid columns="4">
										<h:outputLabel for="delitoInputMenu"
											value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.delito']}" />
										<p:selectOneMenu id="delitoInputMenu"
											value="#{addCausaBean.delitoActual}">
											<f:selectItems value="#{addCausaBean.allDelitos}" />
										</p:selectOneMenu>
										<h:panelGroup />
										<h:panelGroup />
										<h:outputLabel
											value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.calificado']}" />
										<p:selectBooleanButton value="#{addCausaBean.calificado}"
											onLabel="#{msgs['mx.gob.jgtjo.apps.schedule.yes']}"
											offLabel="#{msgs['mx.gob.jgtjo.apps.schedule.no']}" />
										<h:outputLabel
											value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.culposo']}" />
										<p:selectBooleanButton value="#{addCausaBean.culposo}"
											onLabel="#{msgs['mx.gob.jgtjo.apps.schedule.yes']}"
											offLabel="#{msgs['mx.gob.jgtjo.apps.schedule.no']}" />
										<h:outputLabel
											value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.tentativa']}" />
										<p:selectBooleanButton value="#{addCausaBean.tentativa}"
											onLabel="#{msgs['mx.gob.jgtjo.apps.schedule.yes']}"
											offLabel="#{msgs['mx.gob.jgtjo.apps.schedule.no']}" />
										<h:panelGroup />
										<h:panelGroup />
										<p:commandButton action="#{addCausaBean.addDelito}"
											update="delitosPanel"
											value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.agregar']}" />
									</p:panelGrid>
								</div>
								<br />
								<p:dataTable id="delitoTable"
									value="#{addCausaBean.delitosConfigurados}" var="delito"
									paginator="true" rows="3">
									<p:column id="delitoSelectedCol" style="width:100px">
										<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.calificado']}
										</f:facet>
										<p:selectBooleanButton disabled="true"
											value="#{delito.calificado}"
											onLabel="#{msgs['mx.gob.jgtjo.apps.schedule.yes']}"
											offLabel="#{msgs['mx.gob.jgtjo.apps.schedule.no']}" />
									</p:column>
									<p:column id="delitoCulposoCol" style="width:100px">
										<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.culposo']}
										</f:facet>
										<p:selectBooleanButton disabled="true"
											value="#{delito.culposo}"
											onLabel="#{msgs['mx.gob.jgtjo.apps.schedule.yes']}"
											offLabel="#{msgs['mx.gob.jgtjo.apps.schedule.no']}" />
									</p:column>
									<p:column id="nombreDelitoCol">
										<f:facet name="header">
										#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.delito']}
										</f:facet>
											#{delito.delito.nombre}
									</p:column>
								</p:dataTable>
							</p:panel>
						</p:tab>
						<!-- Victimas -->
						<p:tab
							title="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.header']}">
							<p:panel id="victimasPanel" toggleable="true" collapsed="false"
								header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.header']}">
								<h:outputText
									value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.info']}" />
								<h:panelGrid columns="1">
									<h:panelGrid columns="1">
										<h:panelGroup>
											<p:inputText id="nombresVictimaInput" style="width:500px"
												value="#{addCausaBean.nombresVictima}" />
											<p:watermark for="nombresVictimaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.watermark.names']}"></p:watermark>
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="apellidoPaternoVictimaInput"
												style="width:244px"
												value="#{addCausaBean.apellidoPaternoVictima}" />
											<p:watermark for="apellidoPaternoVictimaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.watermark.apellidoPaterno']}" />
											<p:inputText id="apellidoMaternoVictimaInput"
												style="width:244px"
												value="#{addCausaBean.apellidoMaternoVictima}" />
											<p:watermark for="apellidoMaternoVictimaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.watermark.apellidoMaterno']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:tooltip for="generoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.genero.tooltip']}" />
											<p:selectOneMenu id="generoInput"
												value="#{addCausaBean.generoVictima}">
												<f:selectItem itemValue="HOMBRE" itemLabel="Hombre" />
												<f:selectItem itemValue="MUJER" itemLabel="Mujer" />
											</p:selectOneMenu>
											<p:tooltip for="estadoCivilInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.estadoCivil.tooltip']}" />
											<p:selectOneMenu id="estadoCivilInput"
												value="#{addCausaBean.estadoCivilVictima}">
												<f:selectItem itemValue="SOLTERO" itemLabel="Soltero" />
												<f:selectItem itemValue="CASADO" itemLabel="Casado" />
												<f:selectItem itemValue="UNION_LIBRE"
													itemLabel="Union Libre" />
											</p:selectOneMenu>
										</h:panelGroup>
										<h:panelGroup>
											<p:calendar id="fechaNacimientoInput" pattern="dd/MM/yyyy"
												mode="popup" showOn="button" navigator="true"
												value="#{addCausaBean.fechaNacimientoVictima}" />
											<p:watermark for="fechaNacimientoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.fechaNacimiento.watermark']}" />
											<p:inputText id="edadVictimaInput"
												value="#{addCausaBean.edadVictima}" />
											<p:watermark for="edadVictimaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.edad.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="lugarNacimientoVictimaInput"
												style="width:500px"
												value="#{addCausaBean.lugarNacimientoVictima}" />
											<p:watermark for="lugarNacimientoVictimaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.lugarNacimiento.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="idiomaInput"
												value="#{addCausaBean.idiomaVictima}" />
											<p:watermark for="idiomaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.idioma.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="aliasInput"
												value="#{addCausaBean.aliasVictima}" />
											<p:watermark for="aliasInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.alias.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="profesionOrOficioInput"
												value="#{addCausaBean.profesionOrOficioVictima}" />
											<p:watermark for="profesionOrOficioInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.profesionOrOficio.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="identificacionInput"
												value="#{addCausaBean.identificacionVictima}" />
											<p:watermark for="identificacionInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.identificacion.watermark']}" />
										</h:panelGroup>
									</h:panelGrid>
									<p:panel id="domiciliosVictimaPanel"
										header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.header']}">
										<h:panelGroup>
											<p:inputText id="calleInput"
												value="#{addCausaBean.calleVictima}" />
											<p:watermark for="calleInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.calle']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="numeroCasaVictimaInput"
												value="#{addCausaBean.numeroCasaVictima}" />
											<p:watermark for="numeroCasaVictimaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.numeroCasa']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="codigoPostalInput"
												value="#{addCausaBean.codigoPostalVictima}" />
											<p:watermark for="codigoPostalInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.codigoPostal']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="coloniaInput"
												value="#{addCausaBean.coloniaVictima}" />
											<p:watermark for="coloniaInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.colonia']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="estadoInput"
												value="#{addCausaBean.estadoVictima}" />
											<p:watermark for="estadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.estado']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="municipioInput"
												value="#{addCausaBean.municipioVictima}" />
											<p:watermark for="municipioInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.municipio']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="paisInput"
												value="#{addCausaBean.paisVictima}" />
											<p:watermark for="paisInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.pais']}" />
										</h:panelGroup>
										<p:commandButton value="+" ajax="true"
											action="#{addCausaBean.addDomicilioVictima}"
											update="domiciliosVictimaPanel, :almighty:growl" />
										<br />
										<p:dataTable id="domicilioVictimaTable"
											value="#{addCausaBean.domiciliosVictima}" var="domicilio">
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.calle']}
										</f:facet>
												<h:outputText value="#{domicilio.calle}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.codigoPostal']}
										</f:facet>
												<h:outputText value="#{domicilio.codigoPostal}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.colonia']}
										</f:facet>
												<h:outputText value="#{domicilio.colonia}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.estado']}
										</f:facet>
												<h:outputText value="#{domicilio.estado}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.municipio']}
										</f:facet>
												<h:outputText value="#{domicilio.municipio}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.pais']}
										</f:facet>
												<h:outputText value="#{domicilio.pais}" />
											</p:column>
										</p:dataTable>
									</p:panel>
								</h:panelGrid>
								<p:commandButton action="#{addCausaBean.addVictima}"
									update=":almighty:growl, victimasPanel" ajax="true"
									value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.agregar']}" />
							</p:panel>
						</p:tab>
						<p:tab
							title="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.imputados.header']}">
							<!-- Imputados -->
							<p:panel toggleable="true" collapsed="false"
								header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.imputados.header']}">
								<h:outputText
									value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.info']}" />
								<h:panelGrid columns="1">
									<h:panelGrid columns="1">
										<h:panelGroup>
											<p:inputText id="nombresImputadoInput" style="width:500px"
												value="#{addCausaBean.nombresImputado}" />
											<p:watermark for="nombresImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.watermark.names']}"></p:watermark>
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="apellidoPaternoImputadoInput"
												style="width:244px"
												value="#{addCausaBean.apellidoPaternoImputado}" />
											<p:watermark for="apellidoPaternoImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.watermark.apellidoPaterno']}" />
											<p:inputText id="apellidoMaternoImputadoInput"
												style="width:244px"
												value="#{addCausaBean.apellidoMaternoImputado}" />
											<p:watermark for="apellidoMaternoImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.watermark.apellidoMaterno']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:tooltip for="generoImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.genero.tooltip']}" />
											<p:selectOneMenu id="generoImputadoInput"
												value="#{addCausaBean.generoImputado}">
												<f:selectItem itemValue="HOMBRE" itemLabel="Hombre" />
												<f:selectItem itemValue="MUJER" itemLabel="Mujer" />
											</p:selectOneMenu>
											<p:tooltip for="estadoCivilImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.estadoCivil.tooltip']}" />
											<p:selectOneMenu id="estadoCivilImputadoInput"
												value="#{addCausaBean.estadoCivilImputado}">
												<f:selectItem itemValue="SOLTERO" itemLabel="Soltero" />
												<f:selectItem itemValue="CASADO" itemLabel="Casado" />
												<f:selectItem itemValue="UNION_LIBRE"
													itemLabel="Union Libre" />
											</p:selectOneMenu>
										</h:panelGroup>
										<h:panelGroup>
											<p:calendar id="fechaNacimientoImputadoInput"
												navigator="true" pattern="dd/MM/yyyy" mode="popup"
												showOn="button"
												value="#{addCausaBean.fechaNacimientoImputado}" />
											<p:watermark for="fechaNacimientoImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.fechaNacimiento.watermark']}" />
											<p:inputText id="edadImputadoInput"
												value="#{addCausaBean.edadImputado}" />
											<p:watermark for="edadImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.edad.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="lugarNacimientoImputadoInput"
												style="width:500px"
												value="#{addCausaBean.lugarNacimientoImputado}" />
											<p:watermark for="lugarNacimientoImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.lugarNacimiento.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="idiomaImputadoInput"
												value="#{addCausaBean.idiomaImputado}" />
											<p:watermark for="idiomaImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.idioma.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="aliasImputadoInput"
												value="#{addCausaBean.aliasImputado}" />
											<p:watermark for="aliasImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.alias.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="profesionOrOficioImputadoInput"
												value="#{addCausaBean.profesionOrOficioImputado}" />
											<p:watermark for="profesionOrOficioImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.profesionOrOficio.watermark']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="identificacionImputadoInput"
												value="#{addCausaBean.identificacionImputado}" />
											<p:watermark for="identificacionImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.identificacion.watermark']}" />
										</h:panelGroup>
									</h:panelGrid>
									<p:panel id="domiciliosImputadoPanel"
										header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.header']}">
										<h:panelGroup>
											<p:inputText id="calleImputadoInput"
												value="#{addCausaBean.calleImputado}" />
											<p:watermark for="calleImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.calle']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="numeroCasaImputadoInput"
												value="#{addCausaBean.numeroCasaImputado}" />
											<p:watermark for="numeroCasaImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.numeroCasa']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="codigoPostalImputadoInput"
												value="#{addCausaBean.codigoPostalImputado}" />
											<p:watermark for="codigoPostalImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.codigoPostal']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="coloniaImputadoInput"
												value="#{addCausaBean.coloniaImputado}" />
											<p:watermark for="coloniaImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.colonia']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="estadoImputadoInput"
												value="#{addCausaBean.estadoImputado}" />
											<p:watermark for="estadoImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.estado']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="municipioImputadoInput"
												value="#{addCausaBean.municipioImputado}" />
											<p:watermark for="municipioImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.municipio']}" />
										</h:panelGroup>
										<h:panelGroup>
											<p:inputText id="paisImputadoInput"
												value="#{addCausaBean.paisImputado}" />
											<p:watermark for="paisImputadoInput"
												value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.pais']}" />
										</h:panelGroup>
										<p:commandButton value="+" ajax="true"
											action="#{addCausaBean.addDomicilioImputado}"
											update="domiciliosImputadoPanel" />
										<br />
										<p:dataTable id="domicilioImputadoTable"
											value="#{addCausaBean.domiciliosImputado}" var="domicilio">
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.calle']}
										</f:facet>
												<h:outputText value="#{domicilio.calle}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.codigoPostal']}
										</f:facet>
												<h:outputText value="#{domicilio.codigoPostal}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.colonia']}
										</f:facet>
												<h:outputText value="#{domicilio.colonia}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.estado']}
										</f:facet>
												<h:outputText value="#{domicilio.estado}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.municipio']}
										</f:facet>
												<h:outputText value="#{domicilio.municipio}" />
											</p:column>
											<p:column>
												<f:facet name="header">
											#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.domicilio.pais']}
										</f:facet>
												<h:outputText value="#{domicilio.pais}" />
											</p:column>
										</p:dataTable>
									</p:panel>
								</h:panelGrid>
								<p:commandButton action="#{addCausaBean.addImputado}"
									update=":almighty"
									value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.agregar']}" />
							</p:panel>
						</p:tab>
						<p:tab id="ministerioPublicoTab"
							title="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.tabs.ministerioPublico']}">
							<p:panel
								header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.tabs.ministerioPublico']}">
								<h3>#{msgs['mx.gob.jgtjo.apps.schedule.search']}</h3>
								<p:autoComplete value="#{addCausaBean.selectedMps}"
									completeMethod="#{addCausaBean.completeMps}" multiple="true"
									var="mp" itemLabel="#{mp.nombres}" itemValue="#{mp}"
									converter="mx.gob.jgtjo.schedule.MinisterioPublicoConverter">
									<p:column>  
            							#{mp.nombres}  #{mp.apellidoPaterno} #{mp.apellidoMaterno}  
        							</p:column>
								</p:autoComplete>
							</p:panel>
						</p:tab>
						<p:tab id="summaryTab"
							title="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.tabs.summary']}">
							<p:commandButton update="delitosDataTable"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.refreshData']}" />
							<p:dataTable id="delitosDataTable"
								value="#{addCausaBean.delitosConfigurados}" var="delito">
								<p:column>
									<f:facet name="header">
									#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.delito']}
									</f:facet>
									<h:outputText value="#{delito.delito.nombre}" />
								</p:column>
								<p:column>
									<f:facet name="header">
									#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.calificado']}
									</f:facet>
									<p:selectBooleanButton value="#{delito.calificado}"
										disabled="true"
										onLabel="#{msgs['mx.gob.jgtjo.apps.schedule.yes']}"
										offLabel="#{msgs['mx.gob.jgtjo.apps.schedule.no']}" />
								</p:column>
								<p:column>
									<f:facet name="header">
									#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.cols.header.culposo']}
									</f:facet>
									<p:selectBooleanButton value="#{delito.culposo}"
										disabled="true"
										onLabel="#{msgs['mx.gob.jgtjo.apps.schedule.yes']}"
										offLabel="#{msgs['mx.gob.jgtjo.apps.schedule.no']}" />
								</p:column>
							</p:dataTable>
							<p:dataTable id="victimasSummaryTable"
								value="#{addCausaBean.victimas}" var="victima">
								<p:column>
									<f:facet name="header">
										<h:outputText
											value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.victimas.headers.table']}" />
									</f:facet>
									<h:outputText value="#{victima.nombres}" />
							&nbsp;
							<h:outputText value="#{victima.apellidoPaterno}" />
							&nbsp;
							<h:outputText value="#{victima.apellidoMaterno}" />
								</p:column>
							</p:dataTable>
							<p:dataTable id="imputadosSummaryTable"
								value="#{addCausaBean.imputados}" var="imputado">
								<p:column>
									<f:facet name="header">
								#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.imputados.headers.table']}
							</f:facet>
									<h:outputText value="#{imputado.nombres}" />
							&nbsp;
							<h:outputText value="#{imputado.apellidoPaterno}" />
							&nbsp;
							<h:outputText value="#{imputado.apellidoMaterno}" />
								</p:column>
							</p:dataTable>
						</p:tab>
					</p:tabView>
					<p:commandButton action="#{addCausaBean.agregarCausaPenal}"
						ajax="false"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.crearCausa']}" />
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
