<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">

		<ui:define name="pageTitle">
			#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.moduleTitle']}
		</ui:define>

		<ui:define name="bodyContent">
			<h:form>
				<p:panel
					header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.successPanel.header']}">
				#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.successPanel.text']}&nbsp;
				<h:outputText
						value="#{sessionScope['mx.gob.jgtjo.schedule.web.oficialia.newCausaId']}" />/<h:outputText
						value="#{sessionScope['mx.gob.jgtjo.schedule.web.oficialia.newCausaYear']}" />

					<br />
					<br />
					<p:commandButton ajax="false"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.info']}"
						action="pretty:agendar" />
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
