<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
			#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.info']}
		</ui:define>
		<ui:define name="bodyContent">
			<h:form id="form">
				<p:growl showDetail="true" showSummary="true" sticky="true" />
				<p:focus for="causaNumeroAndYearInput" />
				<p:panel
					header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.info']}">
					<div align="center">
						<p:panelGrid columns="2">
							<h:outputLabel for="causaNumeroAndYearInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.causaNumberAndYear']}" />
							<h:panelGroup>
								<p:inputMask id="causaNumeroAndYearInput" mask="9999/9999"
									value="#{agendarCausaBean.causaNumberAndYear}" />
								<p:commandButton icon="ui-icon-search" type="button"
									onclick="searchCausaDialog.show();" />
							</h:panelGroup>
							<h:outputLabel for="fechaInicioInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.fechaInicio']}" />
							<p:calendar id="fechaInicioInput" stepMinute="5"
								timeZone="#{loginBean.userTimeZone}"
								value="#{agendarCausaBean.fechaInicio}" mode="popup"
								showOn="button" navigator="true" size="30"
								pattern="dd/MM/yyyy - HH:mm">
								<p:ajax update="fechaTerminoInput" event="dateSelect"
									listener="#{agendarCausaBean.handleDateSelect}" />
							</p:calendar>
							<h:outputLabel for="fechaTerminoInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.fechaTermino']}" />
							<p:calendar id="fechaTerminoInput" stepMinute="5"
								timeZone="#{loginBean.userTimeZone}"
								value="#{agendarCausaBean.fechaFin}" mode="popup"
								showOn="button" navigator="true" size="30"
								pattern="dd/MM/yyyy - HH:mm" />
							<h:outputLabel for="tipoAudienciaInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.tipoAudiencia']}" />
							<p:selectOneMenu id="tipoAudienciaInput"
								value="#{agendarCausaBean.tipoAudiencia}">
								<f:selectItems value="#{agendarCausaBean.tiposDeAudiencia}" />
							</p:selectOneMenu>
							<h:panelGroup>
								<h:outputLabel for="juecesInput"
									value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.jueces']}" />
								<p:commandButton action="#{agendarCausaBean.buscarJuez}"
									update="juezSugeridoDialog" ajax="true"
									oncomplete="suggestJudgeDialog.show()"
									value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.sugerirJuez']}" />
							</h:panelGroup>
							<p:pickList id="juecesInput" var="juez" showTargetControls="true"
								value="#{agendarCausaBean.juezPickModel}"
								itemLabel="#{juez.nombres}" itemValue="#{juez}"
								converter="mx.gob.jgtjo.schedule.JuezConverter">
								<f:facet name="sourceCaption">#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.juzgado']}</f:facet>
								<f:facet name="targetCaption">#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.preside']}</f:facet>
							</p:pickList>
							<h:outputLabel for="salaInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.sala']}" />
							<p:selectOneMenu id="salaInput"
								value="#{agendarCausaBean.idSala}">
								<f:selectItems value="#{agendarCausaBean.allSalas}" />
							</p:selectOneMenu>
						</p:panelGrid>
						<p:commandButton ajax="false"
							action="#{agendarCausaBean.agendarAudienciaOral}"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.agendarAudiencia']}" />
					</div>
				</p:panel>
				<p:dialog id="juezSugeridoDialog" widgetVar="suggestJudgeDialog">
					<h:outputLabel
						value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.suggestedJudge']}" />
					<h:outputText value="#{agendarCausaBean.juezSugerido.nombres}" />
					<br />
					<p:dataList value="#{agendarCausaBean.sugerencias}" var="razon">
						#{razon}
					</p:dataList>
				</p:dialog>
				<p:dialog id="searchCausaDialog" widgetVar="searchCausaDialog"
					closable="true">
					<p:panelGrid columns="2">
						<h:outputText
							value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.buscar']}" />
						<p:inputText value="#{agendarCausaBean.keywords}" />
						<p:commandButton update="searchResultTable" ajax="true"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.search']}"
							actionListener="#{agendarCausaBean.searchCausaByKeywords}" />
					</p:panelGrid>
					<p:dataTable id="searchResultTable" selectionMode="single"
						selection="#{agendarCausaBean.causaPenalSeleccionada}"
						value="#{agendarCausaBean.causasEncontradasDataModel}" var="causa">
						<f:facet name="footer">
							<p:commandButton ajax="true" update="@form" icon="ui-icon-plus"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.select']}"
								actionListener="#{agendarCausaBean.setCausaPenalFromSearch}" />
						</f:facet>
						<p:column>
							<f:facet name="header">
								#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.header.imputados']}
							</f:facet>
							<ui:repeat var="parteMaterial" value="#{causa.imputados}">
								#{parteMaterial.nombres} '#{parteMaterial.alias}' #{parteMaterial.apellidoPaterno} #{parteMaterial.apellidoMaterno}
								<br />
							</ui:repeat>
						</p:column>
						<p:column>
							<f:facet name="header">
								#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.header.victimas']}
							</f:facet>
							<ui:repeat var="parteMaterial" value="#{causa.victimas}">
								#{parteMaterial.nombres} '#{parteMaterial.alias}' #{parteMaterial.apellidoPaterno} #{parteMaterial.apellidoMaterno}
								<br />
							</ui:repeat>
						</p:column>
					</p:dataTable>
				</p:dialog>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
