<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
			#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.info']}
		</ui:define>
		<ui:define name="bodyContent">
			<h:form id="form">
				<p:growl showDetail="true" showSummary="true" sticky="true" />
				<p:panel
					header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.info']}">
					<div align="center">
						<p:panelGrid columns="2">
							<h:outputLabel
								value="#{msgs['mx.gob.jgtjo.apps.schedule.search.keywords']}" />
							<p:inputText id="keywordInput" value="#{cancelAudienciaBean.keywords}" />
							<p:commandButton ajax="true"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.search']}"
								actionListener="#{cancelAudienciaBean.searchByKeywords}" update="@form" />
						</p:panelGrid>
						<p:dataTable selectionMode="single"
							selection="#{cancelAudienciaBean.audienciaOralSeleccionada}"
							value="#{cancelAudienciaBean.dataModel}" var="audiencia">
							<p:column>
								<f:facet name="header">
								#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.cancelar.headers.causaNumberAndYear']}
								</f:facet>								
								#{audiencia.causaPenal.numeroCausa} / #{audiencia.causaPenal.annioCausa}
							</p:column>
							<p:column>
								<f:facet name="header">
								#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.cancelar.headers.fecha']}
								</f:facet>
								<h:outputText value="#{audiencia.fechaInicio}">
									<f:convertDateTime pattern="dd/MM/yyyy HH:mm"
										timeZone="#{loginBean.userTimeZone}" />
								</h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
								#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.cancelar.headers.imputados']}
								</f:facet>
								<ui:repeat var="imputado" value="#{audiencia.causaPenal.imputados}">
									#{imputado.nombres} '#{imputado.alias}' #{imputado.apellidoPaterno} #{imputado.apellidoMaterno}
								</ui:repeat>
							</p:column>
							<p:column>
								<f:facet name="header">
								#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.cancelar.headers.victimas']}
								</f:facet>
								<ui:repeat var="victima" value="#{audiencia.causaPenal.victimas}">
									#{victima.nombres} '#{victima.alias}' #{victima.apellidoPaterno} #{victima.apellidoMaterno}
								</ui:repeat>
							</p:column>
							<f:facet name="footer">
								<p:commandButton actionListener="#{cancelAudienciaBean.cancelAudiencia}"
									value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.cancelar.command']}" />
							</f:facet>
						</p:dataTable>
					</div>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
