<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
	<ui:define name="pageTitle">
	#{msgs['mx.gob.jgtjo.apps.schedule.main.pageTitle']}
	</ui:define>
	<ui:define name="bodyContent">
		<p:panel id="panelRoot"
			header="#{msgs['mx.gob.jgtjo.apps.schedule.root.moduleTitle']}"
			rendered="#{loginBean.userRoot}">
			<div align="center">
				<h:form>
					<p:commandButton action="pretty:users" type="submit" icon="ui-icon-person"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.moduleTitle']}" />
					<br />
					<p:commandButton action="pretty:delitos" type="submit" icon="ui-icon-check"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.labels.moduleTitle']}" />
					<br />
					<p:commandButton action="pretty:salas" type="submit" icon="ui-icon-video"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.moduleTitle']}" />
					<p:commandButton action="pretty:audiencias" type="submit"
						icon="ui-icon-clock"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.moduleTitle']}" />
					<p:commandButton action="pretty:ministeriosPublicos" type="submit"
						icon="ui-icon-person"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.moduleTitle']}" />
				</h:form>
			</div>
		</p:panel>
		<p:panel id="panelOficialDePartes"
			header="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.moduleTitle']}"
			rendered="#{loginBean.userOficialDePartes}">
			<div align="center">
				<h:form>
					<p:commandButton action="pretty:addCausa" type="submit"
						icon="ui-icon-document"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.add.moduleTitle']}" />
					<br />
					<p:commandButton type="submit" icon="ui-icon-calendar"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.info']}"
						action="pretty:agendar" />
					<br />
					<p:commandButton type="submit" icon="ui-icon-calendar"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.cancel']}"
						action="pretty:cancelarAudiencia" />
				</h:form>
			</div>
		</p:panel>
		<p:panel id="panelAudioAndVideo"
			header="#{msgs['mx.gob.jgtjo.apps.schedule.video.moduleTitle']}"
			rendered="#{loginBean.userAudioAndVideo}">
			<div align="center">
				<h:form>
					<p:commandButton action="pretty:formatos" type="submit"
						icon="ui-icon-document"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.moduleTitle']}" />
					<br />
				</h:form>
			</div>
		</p:panel>
	</ui:define>
</ui:composition>
</html>
