<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
	<ui:define name="pageTitle">
		#{msgs['mx.gob.jgtjo.apps.schedule.login.pageTitle']}
	</ui:define>
	<ui:define name="bodyContent">
		<p:panel header="#{msgs['mx.gob.jgtjo.apps.schedule.login.message']}">
			<div align="center">
				<h:form>
					<p:focus for="inputUser" />
					<h:panelGrid columns="2" cellpadding="10">
						<h:outputText
							value="#{msgs['mx.gob.jgtjo.apps.schedule.login.labels.userName']}" />
						<p:inputText id="inputUser" value="#{loginBean.userName}" />
						<h:outputText
							value="#{msgs['mx.gob.jgtjo.apps.schedule.login.labels.userPassword']}" />
						<h:inputSecret id="inputPassword"
							value="#{loginBean.userPassword}" />
						<p:commandButton ajax="false" action="#{loginBean.doLogin}"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.login.labels.loginButton']}" />
					</h:panelGrid>
				</h:form>
			</div>
			<br />
			<div align="center">
				<h:panelGroup styleClass="ui-panel-titlebar ui-widget-header"
					rendered="#{param.fail}">
				#{msgs['mx.gob.jgtjo.apps.schedule.login.fail']}
			</h:panelGroup>
			</div>
		</p:panel>
	</ui:define>
</ui:composition>
</html>
