<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:jgtjo="http://java.sun.com/jsf/composite/jgtjo">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
		#{msgs['mx.gob.jgtjo.apps.schedule.main.welcomeMessage']}
	</ui:define>
		<ui:define name="bodyContent">
			<p:panel header="#{msgs['mx.gob.jgtjo.apps.schedule.exception']}">
				<div align="center">
					#{msgs['mx.gob.jgtjo.apps.schedule.exception.message']} <br />
					#{ExceptionBean.exception.message}
				</div>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
