<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:prettyfaces="http://ocpsoft.com/prettyfaces"
	xmlns:p="http://primefaces.org/ui">
<head>
</head>
<body>
	<composite:interface />
	<composite:implementation>
		<div align="center">
			<p:panelGrid columns="1">
				<p:selectOneButton id="salaInput" value="#{scheduleBean.sala}">
					<f:selectItem itemValue="-1"
						itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.todasLasSalas']}" />
					<f:selectItems value="#{scheduleBean.allSalas}" />
				</p:selectOneButton>
				<p:commandButton ajax="true" oncomplete="calendario.update()"
					value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.labels.filtrar']}" />
			</p:panelGrid>
			<p:schedule id="schedule" widgetVar="calendario"
				timeZone="#{loginBean.userTimeZone}" value="#{scheduleBean}" editable="true"
				draggable="false" resizable="false">
				<p:ajax event="eventSelect" oncomplete="showDataDialog.show()"
					listener="#{scheduleBean.scheduleEventSelectListener}"
					update="showDataDialog" />
			</p:schedule>
			<p:dialog id="showDataDialog" widgetVar="showDataDialog">
				<h:panelGrid columns="2">					
					#{msgs['mx.gob.jgtjo.apps.schedule.agenda.causa']}
					<h:outputText value="#{scheduleBean.causaNumberAndYear}" />
				</h:panelGrid>
				<p:commandButton ajax="false" icon="ui-icon-bookmark"
					value="#{msgs['mx.gob.jgtjo.apps.schedule.agenda.download.report']}">
					<p:fileDownload value="#{scheduleBean.controlEventosReport}" />
				</p:commandButton>
				<p:commandButton ajax="false" icon="ui-icon-bookmark"
					value="#{msgs['mx.gob.jgtjo.apps.schedule.agenda.download.juezReport']}">
					<p:fileDownload value="#{scheduleBean.datosJuezReport}" />
				</p:commandButton>
				<p:commandButton ajax="false" icon="ui-icon-bookmark"
					value="#{msgs['mx.gob.jgtjo.apps.schedule.agenda.download.protocoloReport']}">
					<p:fileDownload value="#{scheduleBean.audienciaProtocoloReport}" />
				</p:commandButton>
			</p:dialog>
		</div>
	</composite:implementation>
</body>
</html>