<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
	<ui:define name="pageTitle">
	#{msgs['mx.gob.jgtjo.apps.schedule.main.pageTitle']}
	</ui:define>
	<ui:define name="bodyContent">
		<p:growl id="growl" globalOnly="true" showDetail="true" showSummary="true" />
		<p:panel
			header="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.moduleTitle']}">
			<h:form>
				<p:dataTable id="tiposTable" value="#{audienciasBean.dataModel}"
					var="tipoAudiencia">
					<p:column>
						<f:facet name="header">
						#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.table.headers.name']}	
					</f:facet>
					#{tipoAudiencia.nombre}
				</p:column>
					<p:column>
						<f:facet name="header">
						#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.table.headers.desc']}	
					</f:facet>
					#{tipoAudiencia.descripcion}
				</p:column>
				</p:dataTable>
				<p:panel
					header="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.addpanel.header']}">
					<p:panelGrid columns="2">
						<h:outputLabel for="nameInput"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.addpanel.labels.name']}" />
						<p:inputText id="nameInput" value="#{audienciasBean.nombre}" />
						<h:outputLabel for=""
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.addpanel.labels.desc']}" />
						<p:inputText id="descInput" value="#{audienciasBean.descripcion}" />
						<h:panelGroup>
							<p:selectManyButton id="tipos" value="#{audienciasBean.tiposDeAudiencia}">
								<f:selectItem itemValue="cateo"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.cateo']}" />
								<f:selectItem itemValue="orden"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.ordenDeAprehension']}" />
								<f:selectItem itemValue="formulacion"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.formulacion']}" />
								<f:selectItem itemValue="vinculacion"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.vinculacion']}" />
								<f:selectItem itemValue="salidaAlterna"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.salidaAlterna']}" />
								<f:selectItem itemValue="medidaCautelar"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.medidas']}" />
								<f:selectItem itemValue="imtermedia"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.intermedia']}" />
								<f:selectItem itemValue="juicio"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.juicio']}" />
								<f:selectItem itemValue="impugnacion"
									itemLabel="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.tipos.impugnacion']}" />
							</p:selectManyButton>
						</h:panelGroup>
						<p:commandButton icon="ui-icon-plus" update="@form,:growl"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.audiencias.addpanel.addTipoAudiencia']}"
							actionListener="#{audienciasBean.addTipoAudiencia}" />
					</p:panelGrid>
				</p:panel>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>
</html>
