<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jgtjo="http://java.sun.com/jsf/composite/jgtjo">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
		#{msgs['mx.gob.jgtjo.apps.schedule.main.welcomeMessage']}
	</ui:define>
		<ui:define name="bodyContent">
			<p:growl autoUpdate="true" globalOnly="true" showDetail="true"
				showSummary="true" />
			<p:panel
				header="#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.labels.moduleTitle']}">
				<h:form id="tableForm">
					<p:dataTable id="delitosTable" value="#{delitosBean.dataModel}"
						var="delito" selectionMode="single"
						selection="#{delitosBean.selectedDelito}">
						<f:facet name="header">
						#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.tables.header']}
					</f:facet>
						<p:column>
							<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.tables.headers.nombre']}
						</f:facet>
						#{delito.nombre}
					</p:column>
					</p:dataTable>
					<br />
					<p:commandButton icon="ui-icon-close" update="@form"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.remove']}"
						actionListener="#{delitosBean.delete}" />
				</h:form>
				<br />
				<h:form>
					<p:panel
						header="#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.labels.delito.name']}">
						<p:panelGrid columns="3">
							<h:outputLabel for="nombreDelitoInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.labels.delito.name']}" />
							<p:inputText id="nombreDelitoInput" value="#{delitosBean.nombre}"
								widgetVar="nombreDelito" />
							<p:commandButton icon="ui-icon-plus" ajax="true"
								update=":tableForm:delitosTable @form"
								actionListener="#{delitosBean.save}"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.delitos.labels.delito.add']}">

							</p:commandButton>
						</p:panelGrid>
					</p:panel>
				</h:form>

			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
