<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:jgtjo="http://java.sun.com/jsf/composite/jgtjo">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
		#{msgs['mx.gob.jgtjo.apps.schedule.root.users.moduleTitle']}
	</ui:define>
		<ui:define name="bodyContent">
			<p:panel header="#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.moduleTitle']}">
				<p:dataTable id="mpsTable" value="#{mpsBean.ministeriosPublicos}" var="mp">
					<f:facet name="header">
					#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.table.header']}
					</f:facet>
					<p:column>
						<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.headers.nombres']}
						</f:facet>
						#{mp.nombres} #{mp.apellidoPaterno} #{mp.apellidoMaterno}
					</p:column>
					<f:facet name="header">
					#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.table.header']}
					</f:facet>
					<p:column>
						<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.headers.cedula']}
						</f:facet>
						#{mp.cedulaProfesional}
					</p:column>
				</p:dataTable>
				<br />
				<br />
				<h:form id="addMpForm">
					<p:panel toggleable="true" collapsed="true"
						header="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.headers.addMpPanel']}">
						<p:panelGrid columns="2">
							<h:outputLabel for="namesInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.labels.name']}" />
							<p:inputText id="namesInput" value="#{mpsBean.nombres}" />
							<h:outputLabel for="apellioPaternoInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.labels.apellidoPaterno']}" />
							<p:inputText id="apellidoPaternoInput" value="#{mpsBean.apellidoPaterno}" />
							<h:outputLabel for="apellioMaternoInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.labels.ApellidoMaterno']}" />
							<p:inputText id="apellioMaternoInput" value="#{mpsBean.apellidoMaterno}" />
							<h:outputLabel for="cedulaInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.mps.labels.cedula']}" />
							<p:inputText id="cedulaInput" value="#{mpsBean.cedulaProfesional}" />
						</p:panelGrid>
						<p:commandButton ajax="true" icon="ui-icon-plus"
							actionListener="#{mpsBean.saveMp}" update="@form :mpsTable"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.addUser']}" />
					</p:panel>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
