<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jgtjo="http://java.sun.com/jsf/composite/jgtjo">


<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">

		<ui:define name="pageTitle">
		#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.moduleTitle']}
	</ui:define>

		<ui:define name="bodyContent">
			<p:growl id="growl" globalOnly="true" showDetail="true"
				showSummary="true" />
			<p:panel
				header="#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.moduleTitle']}">
				<p:dataTable id="salasTable" value="#{salasBean.dataModel}"
					var="sala">
					<p:column>
						<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.table.headers.name']}
						</f:facet>
						#{sala.nombre}
					</p:column>

					<p:column>
						<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.table.headers.location']}
						</f:facet>
						#{sala.locacion}
					</p:column>
				</p:dataTable>

				<h:form>
					<p:panel
						header="#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.panels.add.header']}">

						<p:panelGrid columns="2">
							<h:outputLabel for="nombreInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.fields.nombre']}" />

							<p:inputText id="nombreInput" value="#{salasBean.nombre}" />

							<h:outputLabel for="locacionInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.fields.locacion']}" />

							<p:inputText id="locacionInput" value="#{salasBean.locacion}" />

							<p:commandButton icon="ui-icon-plus"
								actionListener="#{salasBean.addSala}"
								update="@form,:salasTable,:growl"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.salas.fields.add']}" />
						</p:panelGrid>

					</p:panel>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>

</h:body>

</html>
