<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pretty="http://ocpsoft.com/prettyfaces"
	xmlns:jgtjo="http://java.sun.com/jsf/composite/jgtjo">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
		#{msgs['mx.gob.jgtjo.apps.schedule.root.users.moduleTitle']}
	</ui:define>
		<ui:define name="bodyContent">
			<p:panel
				header="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.moduleTitle']}">
				<p:dataTable id="usersTable" value="#{usersBean.allUsers}"
					var="user">
					<f:facet name="header">
					#{msgs['mx.gob.jgtjo.apps.schedule.root.users.table.header']}
					</f:facet>
					<p:column>
						<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.users.headers.username']}
						</f:facet>
						#{user.username}
					</p:column>
					<p:column>
						<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.users.headers.names']}
						</f:facet>
						#{user.nombres}
					</p:column>
					<p:column>
						<f:facet name="header">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.users.headers.roles']}
						</f:facet>
						<ui:repeat var="rol" value="#{user.authorities}">
							#{rol.authority}<br />
						</ui:repeat>
					</p:column>
					<p:column>
						<h:form>
						<pretty:link mappingId="userEdit">
						<f:param value="#{user.username}" />
							#{msgs['mx.gob.jgtjo.apps.schedule.root.users.headers.edit']}
						</pretty:link>
						</h:form>
					</p:column>
				</p:dataTable>
				<br />
				<br />
				<h:form id="addUserForm">
					<p:panel toggleable="true" collapsed="true"
						header="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.headers.addUserPanel']}">
						<p:messages />
						<p:panelGrid columns="2">
							<h:outputLabel for="userNameInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.username']}" />
							<p:inputText id="userNameInput" value="#{usersBean.userName}" />
							<h:outputLabel for="passwordInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.password']}" />
							<p:password id="passwordInput" value="#{usersBean.password}" />
							<h:outputLabel for="passwordVerificationInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.confirmPassword']}" />
							<p:password id="passwordVerificationInput"
								value="#{usersBean.confirmationPass}" />
							<h:outputLabel for="namesInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.names']}" />
							<p:inputText id="namesInput" value="#{usersBean.nombres}" />
							<h:outputLabel for="apellidoPaternoInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.apellidoPaterno']}" />
							<p:inputText id="apellidoPaternoInput"
								value="#{usersBean.apellidoPaterno}" />
							<h:outputLabel for="apellidoMaternoInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.apellidoMaterno']}" />
							<p:inputText id="apellidoMaternoInput"
								value="#{usersBean.apellidoMaterno}" />
							<h:outputLabel for="mailInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.email']}" />
							<p:inputText id="mailInput" value="#{usersBean.email}" />
							<h:outputLabel for="generoInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.causaPenal.add.fields.victimas.genero.tooltip']}" />
							<p:selectOneButton id="generoInput" value="#{usersBean.genero}">
								<f:selectItem itemValue="HOMBRE" itemLabel="Hombre" />
								<f:selectItem itemValue="MUJER" itemLabel="Mujer" />
							</p:selectOneButton>
							<h:outputLabel
								value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.rol']}" />
							<p:pickList value="#{usersBean.rolDualListModel}" var="rol"
								itemLabel="#{rol.authority}" itemValue="#{rol}"
								converter="mx.gob.jgtjo.schedule.RolConverter">
								<f:facet name="sourceCaption">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.pick.source']}
							</f:facet>
								<f:facet name="targetCaption">
							#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.pick.target']}
							</f:facet>
							</p:pickList>
						</p:panelGrid>
						<p:commandButton ajax="true" icon="ui-icon-plus"
							actionListener="#{usersBean.addUser}"
							update=":addUserForm :usersTable"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.labels.addUser']}" />
					</p:panel>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
