<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:jgtjo="http://java.sun.com/jsf/composite/jgtjo">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
		#{msgs['mx.gob.jgtjo.apps.schedule.root.users.moduleTitle']}
	</ui:define>
		<ui:define name="bodyContent">
			<p:panel
				header="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.edit.moduleTitle']}">

				<h:form>
					<p:messages />
					<p:panelGrid columns="2">
						<h:outputLabel for="usernameInput"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.edit.labels.userName']}" />
						<p:inputText id="usernameInput" value="#{editUserBean.username}" />
						<h:outputLabel for="passwordInput"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.edit.labels.password']}" />
						<h:inputSecret id="passwordInput" value="#{editUserBean.password}"
							redisplay="true" />
						<h:outputLabel for="passwordCheckInput"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.edit.labels.passwordCheck']}" />
						<h:inputSecret id="passwordCheckInput" redisplay="true"
							value="#{editUserBean.passwordCheck}" />
						<h:outputLabel for="emailInput"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.root.users.edit.labels.email']}" />
						<p:inputText id="emailInput" value="#{editUserBean.email}" />
						<h:panelGroup />
						<p:commandButton ajax="false" action="#{editUserBean.saveChanges}"
							value="#{msgs['mx.gob.jgtjo.apps.schedule.send']}" />
					</p:panelGrid>
				</h:form>

			</p:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>
