<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title><ui:insert name="pageTitle" /></title>
	<!-- Primefaces locales -->
	<h:outputScript library="scripts" name="locale.js" />
	<!-- Individual page scripts/stuff -->
	<ui:insert name="headContent" />
</h:head>
<h:body>
	<!-- Header Content -->
	<div id="headerDiv"
		style="clear: both; width: 100%; height: 15%; margin-left: 5px;">
		<p:panel id="headerPanel" toggleable="true" collapsed="false"
			header="#{msgs['mx.gob.jgtjo.apps.schedule.template.headerPanel.title']}">
			<h:form>
				<p:breadCrumb id="breadCrumb" model="#{breadCrumbBean}" />
			</h:form>
		</p:panel>
	</div>
	<!-- Body Content -->
	<div id="pageContentDiv"
		style="float: left; width: 80%; margin-left: 5px; margin-right: 5px;">
		<ui:insert name="bodyContent" />
		<br /> <br /> <br /> <br /> <br />
	</div>
	<!-- Login Credentials-->
	<div id="loginDiv"
		style="height: 100%; float: left; width: 18%; margin-right: 5px">
		<p:panel id="loginPanel" toggleable="true"
			header="#{msgs['mx.gob.jgtjo.apps.schedule.template.loginPanel.title']}">
			<h:form>
				<p:commandButton rendered="#{!loginBean.userLogedIn}"
					action="pretty:login"
					value="#{msgs['mx.gob.jgtjo.apps.schedule.login.labels.loginButton']}" />
			</h:form>
			<h:panelGrid rendered="#{loginBean.userLogedIn}">
				<h:outputText value="#{loginBean.userDetails.username}" />
				<h:outputText value="#{loginBean.userDetails.enabled}" />
				<h:form>
					<p:commandButton action="pretty:logout"
						value="#{msgs['mx.gob.jgtjo.apps.schedule.login.logoutButton']}"
						ajax="false" />
				</h:form>
			</h:panelGrid>
		</p:panel>
		<br />
		<p:panel id="widgetPanel" toggleable="true"
			header="#{msgs['mx.gob.jgtjo.apps.schedule.template.widgetPanel.title']}">
			<h:form>
				<p:graphicImage value="#{resource['images/terminal.png']}"
					onclick="dlg.show();terminal.focus();" style="cursor:pointer" />
				<h:outputText value="Terminal" />
				<p:dialog widgetVar="dlg" height="400" header="Terminal"
					resizable="true" closable="true" modal="true">
					<p:terminal id="terminalita" widgetVar="terminal" prompt="#"
						binding="#{terminalBean.terminal}"
						commandHandler="#{terminalBean.handleCommand}" width="590px"
						welcomeMessage="Debug Terminal for Admins">
					</p:terminal>
				</p:dialog>
			</h:form>
		</p:panel>
	</div>
	<!-- Footer -->
	<div id="footerDiv"
		style="clear: both; width: 100%; height: 15%; margin-left: 5px; margin-right: 5px;">
		<p:panel id="footerPanel" toggleable="true"
			header="#{msgs['mx.gob.jgtjo.apps.schedule.template.footerPanel.title']}">
			Copyleft Notice: LGPL v3 Licenced
		</p:panel>
	</div>
</h:body>
</html>