<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="/WEB-INF/templates/mainTemplate.xhtml">
		<ui:define name="pageTitle">
			#{msgs['mx.gob.jgtjo.apps.schedule.oficialDePartes.agendar.info']}
		</ui:define>
		<ui:define name="bodyContent">
			<h:form id="formatosForm">
				<p:panel
					header="#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.moduleTitle']}">
					<div align="center">
						<p:panelGrid columns="3">
							<h:outputLabel for="searchKeywordsInput"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.searchAudiencias']}" />
							<p:inputText id="searchKeywordsInput" value="#{formatosBean.keywords}" />
							<p:commandButton ajax="true" update="@form"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.send']}"
								actionListener="#{formatosBean.searchByKeywords}" />
						</p:panelGrid>
						<br />
						<p:dataTable id="resultsTable" value="#{formatosBean.dataModel}"
							var="audiencia" selectionMode="single"
							selection="#{formatosBean.selectedAudienciaOral}">
							<p:column>
								<f:facet name="header">
									#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.headers.causaNumberAndYear']}
								</f:facet>
								#{audiencia.causaPenal.numeroCausa}/#{audiencia.causaPenal.annioCausa}
							</p:column>
							<p:column>
								<f:facet name="header">
									#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.headers.date']}
								</f:facet>
								<h:outputText value="#{audiencia.fechaInicio}">
									<f:convertDateTime timeZone="#{loginBean.userTimeZone}"
										dateStyle="long" type="both" />
								</h:outputText>
							</p:column>
							<p:column>
								<f:facet name="header">
									#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.headers.tipoAudiencia']}
								</f:facet>
								#{audiencia.tipoAudiencia.nombre}
							</p:column>
							<p:ajax event="rowSelect" update="@form" />
						</p:dataTable>
						<br />
						<p:panel id="detailPanel">
							<h3>#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.title.imputados']}</h3>
							<br />
							<p:dataTable value="#{formatosBean.imputadosFromSelectedAudienciaOral}"
								var="imputado">
								<p:column>
									#{imputado.nombres} #{imputado.apellidoPaterno} #{imputado.apellidoMaterno}
								</p:column>
								<p:column>
									<p:commandButton icon="ui-icon-circle-minus"
										update=":formatosForm:exclusionTable">
										<p:collector value="#{imputado}" addTo="#{formatosBean.exclusiones}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
							<br />
							<h3>#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.title.victimas']}</h3>
							<p:dataTable value="#{formatosBean.victimasFromSelectedAudienciaOral}"
								var="victima">
								<p:column>
									#{victima.nombres} #{victima.apellidoPaterno} #{victima.apellidoMaterno}
								</p:column>
								<p:column>
									<p:commandButton icon="ui-icon-circle-minus"
										update=":formatosForm:exclusionTable">
										<p:collector value="#{victima}" addTo="#{formatosBean.exclusiones}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>
							<h4>#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.title.exclusiones']}</h4>
							<p:dataTable id="exclusionTable" value="#{formatosBean.exclusiones}"
								var="exclusion">
								<p:column>
									#{exclusion.nombres} #{exclusion.apellidoPaterno} #{exclusion.apellidoMaterno}
								</p:column>
							</p:dataTable>
						</p:panel>
						<p:panel
							header="#{msgs['mx.gob.jgtjo.apps.schedule.video.formatos.print']}">
							<p:commandButton ajax="false" icon="ui-icon-bookmark"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.agenda.download.report']}">
								<p:fileDownload value="#{formatosBean.controlEventosReport}" />
							</p:commandButton>
							<p:commandButton ajax="false" icon="ui-icon-bookmark"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.agenda.download.juezReport']}">
								<p:fileDownload value="#{formatosBean.datosJuezReport}" />
							</p:commandButton>
							<p:commandButton ajax="false" icon="ui-icon-bookmark"
								value="#{msgs['mx.gob.jgtjo.apps.schedule.agenda.download.protocoloReport']}">
								<p:fileDownload value="#{formatosBean.audienciaProtocoloReport}" />
							</p:commandButton>
						</p:panel>
					</div>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>
